<% sources.forEach(source => { %>
  <div class="form-wrapper">
    <h1>Edit <%= source.id_anime %></h1>
    <form action="/edit-src/<%= source._id %>?list-id=<%= listId %>" method="post" class="card">
      <div class="input-group">
        <label for="episode">Episode</label>
        <input type="text" name="episode" id="episode" value="<%= source.episode %>">
      </div>
      <div class="input-group">
        <label for="link_path">Link</label>
        <input type="text" name="path" id="link_path" value="<%= source.path %>">
      </div>
      <button type="submit">Kirim</button>
    </form>
  </div>
<% }); %> 
