<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/49ea1935bb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <title>Admin Dashboard</title>
  </head>
  <body>
    <!-- Start Sidebar Menu -->
    <div class="sidebar clicked">
      <!-- Sidebar Brand -->
      <div class="sidebar-brand">
        <h1 class="title-brand">
          <i class="fab fa-accusoft"></i> <span> Yanime</span>
          <i class="fas fa-arrow-alt-circle-left" id="close-btn"></i>
        </h1>
      </div>

      <!-- Sidebar Menu Item -->
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="/" class="<%= activePage === "home" ? "active" : "" %>" 
              ><i class="fas fa-home sb-icon"></i><span>Home</span></a
            >
          </li>
          <li>
            <a href="/add-anime" class="<%= activePage === "add-anime" ? "active" : "" %>" 
              ><i class="fas fa-plus sb-icon"></i><span>Tambah Anime</span></a
            >
          </li>
          <li>
            <a href="/add-eps" class="<%= activePage === "add-eps" ? "active" : "" %>"
              ><i class="fas fa-puzzle-piece sb-icon"></i><span>Tambah Episode</span></a
            >
          </li>
          <li>
            <a href="/all-anime" class="<%= activePage == "all-anime" ? "active" : "" %>" 
              ><i class="fas fa-list sb-icon"></i><span>List Anime</span></a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- End Sidebar Menu -->

    <!-- Main  -->
    <div class="main-contents">
      <!-- Header Section in main content -->
      <header>
        <div class="main-title">
          <span class="fas fa-bars" id="bar-menu"></span>
          <h1 class="title-brand">Dashboard</h1>
        </div>

        <div class="search-bar">
          <span class="fas fa-search"></span>
          <input type="search" placeholder="Search here" />
        </div>

        <div class="user-active">
          <img
            class="user-img"
            src="/img/user-profile-img.png"
            alt="User Profile"
          />
          <div class="user-info">
            <p class="user-name">Mashiro</p>
            <span class="user-status">Super Admin</span>
          </div>
        </div>
      </header>

      <!-- Main Section in main content -->
      <main> 
        <% if (activePage === "home") { %> 
          <%- include("./pages/Home") %> 
        <% } else if (activePage === "add-anime") { %> 
          <%- include("./pages/AddAnime") %> 
        <% } else if (activePage === "add-eps") { %>
          <%- include("./pages/AddEps") %> 
        <% } else if (activePage === "all-anime") { %>
          <%- include("./pages/AllAnime") %> 
        <% } else if (activePage === "all-eps") { %>
          <%- include("./pages/AllEps") %> 
        <% } else if (activePage === "edit-anime") { %>
          <%- include("./pages/EditAnime") %> 
        <% } else if (activePage === "edit-eps") { %>
          <%- include("./pages/EditEps") %> 
        <% } %>
      </main>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
