<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/49ea1935bb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <title>Admin Dashboard</title>
  </head>
  <body>
    <div class="sidebar clicked">
      <div class="sidebar-brand">
        <h1 class="title-brand">
          <i class="fab fa-accusoft"></i> <span> Yanime</span>
          <i class="fas fa-arrow-alt-circle-left" id="close-btn"></i>
        </h1>
      </div>

      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="/dashboard" class="<%= activePage === "home" ? "active" : "" %>" 
              ><i class="fas fa-home sb-icon"></i><span>Home</span></a
            >
          </li>
          <li>
            <a href="/dashboard/animes/add" class="<%= activePage === "add-anime" ? "active" : "" %>" 
              ><i class="fas fa-plus sb-icon"></i><span>Tambah Anime</span></a
            >
          </li>
          <li>
            <a href="/dashboard/episodes/add" class="<%= activePage === "add-eps" ? "active" : "" %>"
              ><i class="fas fa-puzzle-piece sb-icon"></i><span>Tambah Episode</span></a
            >
          </li>
          <li>
            <a href="/dashboard/animes" class="<%= activePage == "list-anime" ? "active" : "" %>" 
              ><i class="fas fa-list sb-icon"></i><span>List Anime</span></a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="main-contents">
      <header>
        <div class="main-title">
          <span class="fas fa-bars" id="bar-menu"></span>
          <h1 class="title-brand">Dashboard</h1>
        </div>

        <div class="search-bar">
          <span class="fas fa-search"></span>
          <input type="search" placeholder="Search here" />
        </div>

        <div class="user-active">
          <img
            class="user-img"
            src="/img/user-profile-img.png"
            alt="User Profile"
          />
          <div class="user-info">
            <p class="user-name">Mashiro</p>
            <span class="user-status">Super Admin</span>
          </div>
        </div>
      </header>

      <main> 
        <% if (activePage === "home") { %> 
          <%- include("./pages/Home") %> 
        <% } else if (activePage === "add-anime") { %> 
          <%- include("./pages/animes/addAnime") %> 
        <% } else if (activePage === "add-eps") { %>
          <%- include("./pages/episodes/addEpisode") %> 
        <% } else if (activePage === "list-anime") { %>
          <%- include("./pages/animes/listAnime") %> 
        <% } else if (activePage === "list-eps") { %>
          <%- include("./pages/episodes/listEpisode") %> 
        <% } else if (activePage === "edit-anime") { %>
          <%- include("./pages/animes/editAnime") %> 
        <% } else if (activePage === "edit-eps") { %>
          <%- include("./pages/episodes/editEpisode") %> 
        <% } %>  
      </main>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
