<% animes.forEach(anime => { %>
  <div class="form-wrapper">
    <h1>Edit "<%= anime.title %>"</h1>
    <form action="/edit-anime/<%= anime._id %>" method="post" class="card">
      <div class="input-group">
        <label for="title">Judul Anime</label>
        <input type="text" name="title" id="title" value="<%= anime.title %>">
      </div>
      <div class="input-group">
        <label for="poster">Poster</label>
        <input type="text" name="poster" id="poster" value="<%= anime.poster %>">
      </div>
      <div class="input-group">
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre" value="<%= anime.genre %>">
      </div>
      <div class="input-group">
        <label for="type">Type</label>
        <select name="type" id="type">
          <option value="movie" <%= anime.type === "movie" ? "selected" : "" %>>Movie</option>
          <option value="series" <%= anime.type === "series" ? "selected" : "" %>>Series</option>
        </select>
      </div>
      <div class="input-group">
        <label for="descriptions">Description</label>
        <textarea name="description" id="description" cols="30" rows="5"><%= anime.description %></textarea>
      </div>
      <button type="submit">Kirim</button>
    </form>
  </div>
<% }); %> 