<div class="content-details">
  <div class="content-list projects-list">
    <div class="header-list">
      <h2 class="title-list">Data Anime</h2>
      <a href="/dashboard/animes/add"><span class="fas fa-plus"></span> Anime</a>
    </div>
    <table class="table-project-list">
      <thead>
        <tr>
          <th>Judul</th>
          <th>Poster</th>
          <th>Genre</th>
          <th>Type</th>
          <th>Eps</th>
          <th>Deskripsi</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (animes.length > 0) { %> 
          <% animes.forEach((anime, index) => { %>
            <tr>
              <td><%= anime.title %></td>
              <td><%= anime.poster.length > 20 ? anime.poster.substring(0, 19) + "..." : anime.poster %> </td>
              <td><%= anime.genre %></td>
              <td><%= anime.type %></td>
              <td><%= anime.episode === null ? 0 : anime.episode %></td>
              <td>
                <%=
                  anime.descriptions.length > 20 ?
                   anime.descriptions.substring(0, 19)  + "..." 
                   : anime.descriptions 
                %>
              </td>
              <td>
                <a href="/dashboard/animes/<%= anime.id %>/edit">Edit</a>
                <a href="/dashboard/animes/<%= anime.id %>/delete" onclick="return confirm('Hapus <%= anime.title %> ?')">Delete</a>
                <a href="/dashboard/animes/<%= anime.id %>/episodes">Eps</a>
              </td>
            </tr>
         <%  }); %> 
        <% } else { %> 
          <tr>
            <td colspan="7" style="text-align: center;">Data belum tersedia</td>
          </tr>
        <% } %> 
      </tbody>
    </table>
  </div>
</div>