<div class="content-details">
  <div class="content-list projects-list">
    <div class="header-list">
      <h2 class="title-list">Data Episode Anime</h2>
      <a href="/all-anime"><i class="fas fa-arrow-circle-left"></i> Back To Anime List</a>
    </div>
    <table class="table-project-list">
      <thead>
        <tr>
          <th>Episode</th>
          <th>Source</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((dt) => { %>
          <tr>
            <td><%= dt.episode %></td>
            <td><%= dt.link_path.length > 20 ? dt.link_path.substring(0, 19) + "..." : dt.link_path %></td>
            <td>
              <a href="/eps-detail/<%= dt.id %>">Edit</a>
              <a href="/eps-del/<%= dt.id %>?id-list=<%= dt.id_anime%>" onclick="return confirm('Hapus <%= dt.link_path %> ?')">Delete</a>
            </td>
          </tr>
       <%  }); %> 
      </tbody>
    </table>
  </div>
</div>